.container{
    width: 85%;
    margin: auto;
}

h1 {
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
    color: rgb(97, 93, 93);
}

.badge {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge button {
    margin: auto;
    width: 100%;
}

.content{
    width: 100%;
}

.novo{
    width: 100%;
    margin-top: 3rem;
}

mat-card{
    margin-top: .8rem;
    padding: .2rem;
}

p{
    text-align: end;
    font-weight: 600;
    color: rgb(114, 111, 111);
    margin-bottom: 0;
}

.actions{
   text-align: end;

}

.actions button{
    margin: .5rem;
}